.image-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  .image-unit {
    height: 500px;
  }
  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
}

@media (max-width: 860px) {
  .image-wrapper {
    grid-template-columns: repeat(2, 1fr);
    .image-unit {
      height: 300px;
    }
  }
}

@media (max-width: 640px) {
  .image-wrapper {
    display: block;
    .image-unit {
      height: 500px;
      display: block;
      margin-bottom: 2rem;
    }
  }
}
