.model-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px 0px;

  .model-unit {
    text-align: center;
    display: block;
    h2 {
      margin-bottom: 0.5rem;
      text-transform: capitalize;
    }
    p {
      text-transform: capitalize;
      font-size: 1.2rem;
    }
  }
  .img-container {
    height: 500px;
    margin-bottom: 1rem;
    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}

@media (max-width: 1200px) {
  .model-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 860px) {
  .model-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .model-wrapper {
    display: block;
    .model-unit {
      margin-bottom: 2rem;
    }
  }
}
