.cast-wrapper {
  gap: 20px;
  p {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
  .img-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 2rem 0rem;

    img {
      height: 400px;
      width: 100%;
      object-fit: cover;
    }
  }
}
