@import "../../styles/variables.scss";
#landing {
  margin-bottom: 3rem;
  position: relative;
  height: 80vh;

  img {
    height: 100%;
    object-fit: cover;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      8deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(0, 0, 0, 0.6018982808022922) 35%,
      rgba(0, 0, 0, 0.35547994269340977) 100%
    );
    display: flex;
    align-items: center;
    padding-left: 100px;
    color: white;

    .content-wrapper {
      width: 700px;
      max-width: 100%;
      h2 {
        margin-bottom: 2rem;
        line-height: 1;
        font-size: 3rem;
      }
      a {
        display: inline-block;
        padding: 1rem 2rem;
        color: whtie;
        background-color: $red;
        color: white;
      }
    }
  }
  .img-container {
    height: 100%;
    img {
      width: 100%;
    }
  }
}

@media (max-width: 860px) {
  #landing {
    height: 60vh;
    .overlay {
      padding-left: 30px;
      .content-wrapper {
        width: 100%;
        h2 {
          font-size: 1.8rem;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .featured-wrapper {
    display: block;
    .featured-unit {
      height: 450px;
      margin-bottom: 1rem;
      display: block;
    }
  }
}
