@import "../../styles/variables.scss";
.casting-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  a {
    display: inline-block;
    background-color: $red;
    text-decoration: none;
    padding: 1rem;
    color: white;
    border-radius: 20px;
  }
  .casting-unit {
    .text-container {
      .text-large {
        margin-bottom: 0.5rem;
      }
    }
    .img-container {
      height: 500px;
      margin-bottom: 1rem;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 980px) {
  .casting-wrapper {
    grid-template-columns: repeat(2, 1fr);
    .casting-unit .img-container {
      height: 500px;
    }
  }
}

@media (max-width: 800px) {
  .casting-wrapper {
    .casting-unit {
      margin-bottom: 2rem;
      .img-container {
        height: 400px;
      }
      .text-container {
        margin-bottom: 2rem;
      }
    }
  }
}

@media (max-width: 640px) {
  .casting-wrapper {
    display: block;
    .casting-unit {
      .img-container {
        height: 60vh;
      }
    }
  }
}
